<%= content_for :links do %>
  <%= link_to "Add a feature", "#", id: :addFeature %>
  | <%= link_to "List of Features", "#", id: :listFeatures %>
  | <%= link_to "Add an Enzyme", "#", id: :addEnzyme %>
  | <%= link_to "List of Enzymes", "#", id: :listEnzymes %>
  | <%= link_to "Save", "#", id: :save %>
  <% if development? %>
    <span class="development">
      | <%= link_to "Autosave", "#", id: :autosave %>
      | <%= link_to "Delete Autosave", "#", id: :deleteAutosave %>
    </span>
  <% end %>
<% end %>

<div id="autosavechoice">
    <p>Please choose which version you would like to use.</p>
    <button type = "button" id = "opened"> Opened Version </button>
    <button type="button" id="autosaved"> Autosaved Version </button>
</div>

<div id="main_editor"></div>
<div id="autosaved_editor"></div>

<div id="featuredialog" class='feature' title="Add Feature">
  <%= form_tag "#", method: "GET", id: 'feature-form' do %>
    <div class='issues'></div>
    <%= label_tag(:sequence, "Sequence: ") %>
    <%= text_area_tag(:sequence, "", size:"50x4") %>
    <%= label_tag(:name, "Name: ") %>
    <%= text_field_tag(:name) %><br />
    <%= label_tag(:forward_color, "Forward Color: ") %>
    <%= text_field_tag(:forward_color, "66FF00", 
                       :class => 'color') %><br />
    <%= label_tag(:reverse_color, "Reverse Color: ") %>
    <%= text_field_tag(:reverse_color, "FF5500", 
                       :class => 'color') %><br />
    <%= hidden_field_tag(:user_id, current_user.id) %>
    <%= submit_tag("Save Feature") %>
  <% end %>
</div>

<div id="allfeaturesdialog" class='features' title="All Features">
  <div id="features-table"></div>
</div>

<div id="enzymedialog" class='enzyme' title="Add Enzyme">
  <%= form_tag "#", method: "GET", id: 'enzyme-form' do %>
    <div class='issues'></div>
    <%= label_tag(:site, "Site: ") %>
    <%= text_area_tag(:site, "", size:"50x4") %>
    <%= label_tag(:comment, "Comment: ") %>
    <%= text_area_tag(:comment, "", size:"50x4") %>
    <%= label_tag(:name, "Name: ") %>
    <%= text_field_tag(:name) %><br />

    <%= hidden_field_tag(:user_id, current_user.id) %>
    <%= submit_tag("Save Enzyme") %>
  <% end %>
</div>

<div id="allenzymesdialog" class='enzymes' title="All Enzymes">
  <div id="enzymes-table"></div>
</div>

<script type="text/javascript" >
doc = <%= @file_contents.to_json.html_safe %>;
doc_restored = <%= @file_restore_contents.to_json.html_safe %>;
first_line = <%= @first_line.to_json.html_safe %>;
isRestore = <%= @isRestore.to_json %>;
saveURL = <%= @saveURL.to_json.html_safe %>;
allFeatures = null;
allEnzymes = null;
user = <%= (current_user.nil? ? -1 : current_user.id) %>;

$(document).ready(function () {
  G.begin_editing("#main_editor", "#autosaved_editor");
});
</script>
