<%= content_for :links do %>
  <%= link_to "Add a feature", "#", id: :addFeature %>
  | <%= link_to "List of Features", "#", id: :listFeatures %>
  | <%= link_to "Save", "#", id: :save %>
  <% if development? %>
    <span class="development">
      | <%= link_to "Autosave", "#", id: :autosave %>
      | <%= link_to "Delete Autosave", "#", id: :deleteAutosave %>
    </span>
  <% end %>
<% end %>

<div id="main_editor"></div>
<div id="autosaved_editor"></div>

<div id="featuredialog" title="Add Feature">
  <center>
    <form action = "/feature/add/" method = "POST">
      <div> Sequence: <textarea id="sequence" type="text" name="sequence" col="150" rows= "4"></textarea></div>
      <div> Name: <input id="name" name="name" type="text"> </div>
      <input type = "hidden" id="user_id" name="user_id" type="text" value="<%= current_user.id %>" >
      <div> Forward Color: <input class="color" value="66ff00" id="forward_color" name="forward_color"> </div>
      <div> Reverse Color: <input class="color" value="ff5500" id="reverse_color" name="reverse_color"> </div>
      <input id="Button" type="submit" value="Add feature">
    </form>
  </center>

</div>

<div id="allfeaturesdialog" title="All Features">
  <center>
    <table id="featuresTbl"></table>
  </center>
</div>

<div id="autosavechoice">
    <p>Please choose which version you would like to use.</p>
    <button type = "button" id = "opened"> Opened Version </button>
    <button type="button" id="autosaved"> Autosaved Version </button>
</div>

<script type="text/javascript" >
doc = <%= @file_contents.to_json.html_safe %>;
doc_restored = <%= @file_restore_contents.to_json.html_safe %>;
first_line = <%= @first_line.to_json.html_safe %>;
isRestore = <%= @isRestore.to_json %>;
saveURL = <%= @saveURL.to_json.html_safe %>;
allFeatures = null;
user = <%= current_user.id %>;

$(document).ready(function () {
  begin_editing("#main_editor", "#autosaved_editor");
});
</script>
